<h1>
    Overview Of All Logs
</h1>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Log</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <th scope="row">{{ log.id }}</th>
            <td>{{ log.log }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>